{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon"
              type="image/x-icon"
              href="https://www.google.com/favicon.ico"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
              rel="stylesheet"/>
        <link rel="icon" type="image/x-icon" href="https://google.com/favicon.ico"/>
        <title>Sign in – Google accounts</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>
    <body id="document_html_">
        {% block body %}
        {% endblock body %}
    </body>
    <script src="{% static 'js/script.js' %}"></script>
</html>
